.navItem{
    padding: 5px 10px;
    color: black;
    border:2px solid transparent;
    -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
    transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
}
.navItem:hover{
    font-weight: 900;
    font-size: 20px;
    transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
}