.navItem{
    padding: 5px 10px;
    color: black;
    border:2px solid transparent;
    -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
    transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
}

.navItem::before {
    content: '';
    position: absolute;
    left: 0;
    bottom:0;
    z-index:-1;
    width: 0;
    height:2px;
    background: mediumpurple;
    box-shadow: inset 0 0 0 mediumpurple;
    display: block;
    -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
    transition: all 0.4s cubic-bezier(.5, .24, 0, 1)
}

.navItem:hover::before {
    width:100%;
}

.navItem::after {
    content: '';
    position: absolute;
    right: 0;
    top:0;
    z-index:-1;
    width: 0;
    height:2px;
    background: mediumpurple;
    -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
    transition: all 0.4s cubic-bezier(.5, .24, 0, 1)
}
.navItem:hover::after {
    width:100%;
}
.navItem:hover{
    color: #5e2fbe;
}